.header {
  background-color: #007bff; /* Глибокий голубий фон */
  color: white;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.nav_list {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.link {
  text-decoration: none;
  font-size: 16px;
  color: white;
  font-weight: 500;
  transition: color 0.3s ease;
}

.link:hover {
  color: #ffd700; /* Золотий колір при ховері */
}
