div {
  gap: 10px;
}

div .link {
  font-size: 16px;
  color: #007bff;
  font-weight: 500;
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

div .link:hover {
  background-color: #f0f0f0;
  color: #0056b3;
}

.nav_list {
  display: flex;
  gap: 20px;
}

.nav_list .link {
  font-size: 16px;
  color: white;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav_list .link:hover {
  color: #ffd700;
}
